
#top {
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: -7.4rem;
  &>a {
    z-index: 9999;
  }
  @include bp-small() {
    margin-bottom: 0px;
    position: absolute;
    top: 0px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    max-width: 720px;
  }

  @include bp-medium() {
    max-width: 960px;
  }

  @include bp-large() {
    max-width: 1140px;
  }

  .logo {
    z-index: 9999;
    width: 2rem;
    margin: 0.8rem;
  }
  .menu-toggle {
    position: absolute;
    right: 15px;
    top: 15px;
    color: $yellow;
    @include bp-small() {
      & {
        display: none;
      }
    }
  }
}

.banner {
  color: $white;
  background-size: cover;
  background-position: center center;
  @extend %shadow;

  min-height: 400px;
  position: relative;
  background-blend-mode: screen, difference, lighten;
  .wash {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-height:400px;
    background-color: rgba(58,58,58,0.8);
  }
  h1 {
    min-width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    &:first-line {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 3.2rem;
      @include bp-small() {
        font-size: 3.4rem;
      }
      @include bp-medium() {
        font-size: 3.6rem;
      }
    }
  }
  .header-btns {
    a {
      @extend %ct;
      @extend %shadow;

      padding: 0.5rem 1rem;
      background-color: $royal;

      &:nth-of-type(2n) {
        margin-left: 1rem;
      }
    }
  }
  
}

@include bp-small() {
  .banner, .wash {
    min-height: 450px !important;
  } 
}

@include bp-medium() {
  .banner, .wash {
    min-height: 400px !important;
  }
}

@include bp-large() {
  .banner, .wash {
    min-height: 450px !important;
  }
}