/*! Custom Home Page for Royal Lock */

$fadeInTiming: 0.3s;

.dom-ready {
  @include transition(opacity $fadeInTiming ease);
  @include opacity(1);
}

p:empty {
  display: none;
}

#page {
  #content {

  }
}




