# ignore everything by default
/*

!.gitignore
!package.json
!webpack.config.js
!src/

# ignore massive directories ( use npm install under __build/ directory )
node_modules
bower_components

# ignore sass cache files
.sass-cache
.sass-cache/*

# ignore Mac-specific things
.DS_Store
Icon?
Icon^M
Icon^M^M

# wp-content
!wp-content/

# ignore everything under wp-content EXCEPT:
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore everything under mu-plugins EXCEPT:
wp-content/mu-plugins/*

# ignore everything under plugins EXCEPT:
wp-content/plugins/*


# ignore everything under themes EXCEPT:
wp-content/themes/*
!wp-content/themes/royal-lock/
