@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin bp-large {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

%ct {
  @include transition(all 0.2s ease-in-out);
}

@mixin opacity($opacity) {
  opacity: $opacity !important;
  $opacity-ie: $opacity * 100  !important;
  filter: alpha(opacity=$opacity-ie)  !important; //IE8
}

%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

%shadow {
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
@mixin blur( $px ) {
  -webkit-filter: blur($px);
  -moz-filter: blur($px);
  -o-filter: blur($px);
  -ms-filter: blur($px);
  filter: blur($px);
}
