// @import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:700,700i');

$f-Roboto-Condensed: 'Roboto Condensed', Arial sans-serif;
$f-Roboto: Roboto, Arial, sans-serif;

$regular: 400;
$bold: 700;

html body {
  font-family: $f-Roboto;
  font-weight: $regular;
  font-size: 18px;

  -ms-word-wrap: break-word;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  label {
    color: $white;
    font-family: $f-Roboto-Condensed;
    font-weight: $regular;
    font-size: 18px;
    text-transform: uppercase;
  }
}
body{
  section h2  {
    text-transform: uppercase;
  }
  h1, h2, h3, h4 {
    font-family: $f-Roboto-Condensed;
    letter-spacing: 0.04rem;
    font-weight: 700;
  }
  h3, h2, h4 {
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 3px solid transparent;
    padding-bottom: 6px;
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 2.4rem;
    line-height: 2.4rem;

    @include bp-small() {
      font-size: 2.6rem;
      line-height: 2.6rem;
    }

    @include bp-medium() {
      font-size: 2.8rem;
      line-height: 2.8rem;
    }
  }
  
  a {
    font-family: $f-Roboto;
    @extend %ct;
    
    &,&:active,&:visited {
      color: $white;
    }
    &:hover{
      color: mix( $white, $royal);
    }
    
  }
}
